HELP.md
.gradle
build/
**.html
**.js
**.json
**.log
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
build/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/